@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: Roboto, serif;
}

.header-section {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-main ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content button {
    align-self: flex-start;
    padding: 5px 24px 5px 24px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.img-placeholder {
    background-color: grey;
    width: 1900px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.information-section {
    padding-top: 36px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

#information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-content {
    display: flex;
    gap: 48px;
}

.information-image-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 160px;
    gap: 10px;
}

.information-image {
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.information-sub-text {
    font-size: 1.1rem;
    color: grey;
}
